/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1095px) {
    .bg_image_h2 {
        width: 280px;
    }
}

@media (max-width: 1050px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 1200px) {
    .each_block:nth-child(3) {
        margin-top: 30px;
    }
    
    .each_block:nth-child(4) {
        margin-top: 30px;
    }

    .each_block:nth-child(5) {
        margin-top: 30px;
    }
    
    .each_block:nth-child(6) {
        margin-top: 30px;
    }
    
}

@media (max-width: 930px) {
    .section2_text {
        max-width: 460px;
        width: 50%;
        padding: 15px;
        margin-bottom: 20px;
    }

    .section2_h4 {
        width: auto;
        font-size: 40px;
    }

    .section2_p {
        width: auto;
        font-size: 15px;
    }

    .section2_image_div {
        max-width: 465px;
        width: 50%;
    }
}

@media (max-width: 850px) {
    .container {
        max-width: 600px;
    }

    .each_block:nth-child(2) {
        margin-top: 30px;
    }

    .blocks {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}

@media (max-width: 765px) {
    .section2_text {
        max-width: 375px;
        width: 50%;
        padding: 15px;
    }

    .section2_h4 {
        width: auto;
        font-size: 35px;
    }

    .section2_p {
        width: auto;
        font-size: 14px;
    }

    .section2_image_div {
        max-width: 382px;
        width: 50%;
    }

    .oval_div {
        margin-top: 30px;
        padding: 15px 20px;
    }

    .oval_div a {
        font-size: 12px;
    }
}

@media (max-width: 680px) {
    .section3_p {
        font-size: 16px;
        max-width: 550px;
        width: 100%;
        text-align: center;
        padding: 15px;
    }    
}

@media (max-width: 645px) {
    .section2_text {
        max-width: 320px;
        width: 50%;
        padding: 15px;
    }

    .section2_h4 {
        width: auto;
        font-size: 30px;
    }

    .section2_p {
        width: auto;
        font-size: 13px;
        margin-top: 20px;
    }

    .section2_image_div {
        max-width: 322px;
        width: 50%;
    }

    .oval_div {
        margin-top: 20px;
        padding: 15px 20px;
    }

    .oval_div a {
        font-size: 11px;
    }   
}

@media (max-width: 590px) {
    .navigation {
        display: none;
    }

    .hamburger_menu {
        display: block;
        margin-right: 20px;
    }

    .logo {
        margin-left: 20px;
    }
}

@media (max-width: 565px) {
    .section2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .section2_text {
        max-width: 400px;
        width: 100%;
        margin-top: 20px;
    }

    .section2_h4 {
        width: auto;
        font-size: 35px;
    }

    .section2_p {
        width: auto;
        font-size: 15px;
    }

    .section2_image_div {
        max-width: 565px;
        width: 100%;
    }

    .section2_image_div img {
        width: 100%;
    }
}
